/* Стили для больших экранов */
body{
  background-color: #F3F3F3;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
a{
  text-decoration: none;
}
section{
  padding: 24px;
}
.container{
  max-width: 512px;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.nav-item {
  margin-right: 20px;

}
.nav-toggle{
  display: none;
}
.slider {
  color: #F3F3F3;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;

  background-color: black;
}

.slides {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.slide {
  position: absolute;
    text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
.title{
  text-align: center;
  text-transform: uppercase;
}
.main-img{
  display: flex;
  justify-content: space-around;
}
.img{
  border-radius: 20px;
  overflow: hidden;

}
.share{
  color: #F0534F;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 440px;
  height: 40px;
  margin: 40px auto 0;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.sale-price{
  color: #FFFC00;
  background-color: #8BC24A;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-transform: uppercase;

}
.descriprion{
  color: #828182;
  font-size: 20px ;
  font-weight: 500;
}
/*.descriprion:before{*/
/*  u*/
/*}*/

.price-container div{
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  margin: 10px auto 0;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
}
.old-price{
  text-decoration: line-through;
}
.new-price{
  color: #F3F3F3;
  background-color: black;
}
.buy-button{
  color: #F3F3F3;
  background-color: #8BC24A;
}

.black{

  color: #F3F3F3;
  background-color: black;
}
.delivery{
  font-size: 20px ;
  text-transform: uppercase;
  width: 400px;
  margin: 0 auto;
}

.slider1{
  text-align: center;
}
.green{
  padding-top: 50px;
  background-color: #8BC24A;
  text-align: center;
  display: flex;
  flex-direction: column;
align-items: center;
}

.green-sale{
  color: #4E4D4D;
}
.green-sale div{
  background-color: #FFFC00;
  margin: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
}
.green h4{
  color: #F3F3F3;
}


#timer{
  display: flex;
  justify-content: center;
}
#timer div{
  color: #F3F3F3;
  padding: 20px 17px;
  border: 2px solid #F3F3F3;
  margin: 5px;
  border-radius: 100%;
}

form input{
  padding: 16px;
  width: 400px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
}
form div{
  padding: 16px;
  width: 400px;
  margin: 10px auto;
  border: none;
  border-radius: 50px;
}
form .old-price{
  background-color: #F3F3F3;
}
form .buy-button{
  color: #4E4D4D;
  background-color: #FFFC00;
  border: 1px black solid;
}
footer{
  padding: 20px;
  color: #d7d5d5;
  background-color: #4E4D4D;
  text-align: center;
}
/* Стили для маленьких экранов */
@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav-toggle{
  display: block;
}
  .nav-open{
    display: block;
  }
}